*.pyc
sygnal.yaml
var/
sygnal.pid
sygnal.db
_trial_temp*
.coverage*

/venv/
/.venv/
/oldvenv/
/.oldvenv/
/.idea
/.eggs
/*.egg-info
/build
/dist
/.tox
/.python-version
/htmlcov

/scripts-dev/proxy-test/out
/scripts-dev/proxy-test/mitmproxy

.vscode/
.idea/
.DS_Store
