[log]
loglevel = debug
logfile = var/sygnal.log

[apps]
org.matrix.console.ios.type = apns
org.matrix.console.ios.certfile = org.matrix.matrixConsole_prod_APNS.pem
org.matrix.console.android.type = gcm
org.matrix.console.android.apiKey = your_api_key_for_gcm
