[log]
loglevel = debug
logfile = var/sygnal.log

# [metrics]
# prometheus_port = 8800  # Enable prometheus metrics and bind to this port
# prometheus_addr = 127.0.0.1  # Optional bind address
# sentry_dsn = https://...  # Enable sentry integration

[apps]
com.example.myapp.ios.type = apns
com.example.myapp.ios.certfile = com.example.myApp_prod_APNS.pem
com.example.myapp.android.type = gcm
com.example.myapp.android.apiKey = your_api_key_for_gcm
