# GitHub actions workflow which builds and publishes the docker images.

name: Build and push docker images

on:
  push:
    tags: ["v*"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Inspect builder
        run: docker buildx inspect

      - name: Log in to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Calculate docker image tags
        id: set-tag
        uses: docker/metadata-action@v3
        with:
          images: matrixdotorg/sygnal
          tags: |
            type=ref,event=tag

      # we explicitly check out the repository (and use `context: .` in buildx)
      # because we need to preserve the git metadata so that setuptools_scm
      # (part of build system config in pyproject.toml) can deduce the package version.
      # See: https://github.com/marketplace/actions/build-and-push-docker-images#path-context
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and push all platforms
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          labels: "gitsha1=${{ github.sha }}"
          tags: "${{ steps.set-tag.outputs.tags }}"
          file: "docker/Dockerfile"
          platforms: linux/amd64,linux/arm64
